io.usethesource.vallang.type.ValueType$Info
io.usethesource.vallang.type.AbstractDataType$Info
io.usethesource.vallang.type.AliasType$Info
io.usethesource.vallang.type.BoolType$Info
io.usethesource.vallang.type.ConstructorType$Info
io.usethesource.vallang.type.DateTimeType$Info
io.usethesource.vallang.type.IntegerType$Info
io.usethesource.vallang.type.ListType$Info
io.usethesource.vallang.type.MapType$Info
io.usethesource.vallang.type.NodeType$Info
io.usethesource.vallang.type.NumberType$Info
io.usethesource.vallang.type.ParameterType$Info
io.usethesource.vallang.type.RationalType$Info
io.usethesource.vallang.type.RealType$Info
io.usethesource.vallang.type.SetType$Info
io.usethesource.vallang.type.SourceLocationType$Info
io.usethesource.vallang.type.StringType$Info
io.usethesource.vallang.type.TupleType$Info
io.usethesource.vallang.type.FunctionType$Reifier
io.usethesource.vallang.type.VoidType$Info
