org.rascalmpl.value.type.ValueType$Info
org.rascalmpl.value.type.AbstractDataType$Info
org.rascalmpl.value.type.AliasType$Info
org.rascalmpl.value.type.BoolType$Info
org.rascalmpl.value.type.ConstructorType$Info
org.rascalmpl.value.type.DateTimeType$Info
org.rascalmpl.value.type.IntegerType$Info
org.rascalmpl.value.type.ListType$Info
org.rascalmpl.value.type.MapType$Info
org.rascalmpl.value.type.NodeType$Info
org.rascalmpl.value.type.NumberType$Info
org.rascalmpl.value.type.ParameterType$Info
org.rascalmpl.value.type.RationalType$Info
org.rascalmpl.value.type.RealType$Info
org.rascalmpl.value.type.SetType$Info
org.rascalmpl.value.type.SourceLocationType$Info
org.rascalmpl.value.type.StringType$Info
org.rascalmpl.value.type.TupleType$Info
org.rascalmpl.value.type.VoidType$Info
