ValueType.Info
AbstractDataType.Info
AliasType.Info
BoolType.Info
ConstructorType.Info
DateTimeType.Info
IntegerType.Info
ListType.Info
MapType.Info
NodeType.Info
NumberType.Info
ParameterType.Info
RationalType.Info
RealType.Info
SetType.Info
SourceLocationType.Info
StringType.Info
TupleType.Info
VoidType.Info
  